/****** General ***********/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-right: 20px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ancre{
    margin-right: 30px;
}
.ancre:hover {
    color:#0065FC;
    border-top: #0065FC 2px solid;
}
.logo {
    width: 50px;
}
* {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 20px;
}
.container_1 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 20px 0;
    border: white 2px none;
    border-radius: 20px;
}
.icone {
    border: black 2px none;
    border-radius: 20px 0px 0px 20px;
    background-color: #F2F2F2;
    padding: 20px;
}
.encart {
    border: 0px;
    padding: 20px;
}
.btn {
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    padding: 20px;
}
.btn1 {
    font-size: 20px;
    color: white;
}
.container_2_1_1 , .container_2_1_2 , .container_2_1_3 , .container_2_1_4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 125px;
    
} 
.container_2_1 , .container_2{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}
.container_2_1_4 :hover , .container_2_1_3 :hover , .container_2_1_2 :hover , .container_2_1_1 :hover { 
    background-color: #0065FC;
}
.btn2 {
    border-radius: 50px;
    padding: 10px;
}
.btn2:hover {
    background-color: #0065FC;
    color: white;
}

.btn .fa-magnifying-glass {
    display: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 20px;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card2{
    background-color: white;
    width: 220px;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .card2 img, .card3 img {
    object-fit: cover;
}

.card-title, .card2-title {
    font-size: 16px;
}
.card2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.card2-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card2-subtitle {
    margin-top: 10px;
}

.card2-rating {
    margin-bottom: 5px;
}
.card3 {
    width: 100%;
    height: 350px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card3-txt {
    margin: 20px;
}
.card3-title {
    font-size: 12px;
}
.card3-img {
    width: 300px;
    height: 100%;
    overflow: hidden;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex; 
    flex-direction: column;
    align-items:flex-start;
    width: 67%; 
}

.hebergements-title {
    width: 100%;
    padding-left: 25px;
}

.hebergements-cards , .activites-cards {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activité ***********/
.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.activites-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;   
}
.activites-cards img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    margin-top: 100px;  
}
.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}
.lien-footer-nav {
    padding: 5px;
}
.footer-title {
    font-size: 12px;
    padding-left: 5px;
}
.container_footer {
    display: flex;
    justify-content:center;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card2{
        width: 220px;
        height: 90%;
    }

    .card2-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .card2-subtitle {
        margin-bottom: 2px;
    }

    .card2-rating {
        margin-bottom: 0px;
    }
    
    .card3-img {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}