/****** General ***********/

.nav {
    display: flex;
    padding: 20px 0;
    margin-right: 20px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ancre{
    margin-right: 30px;
}
.ancre:hover {
    color:#0065FC;
    border-top: #0065FC 2px solid;
}
.logo {
    width: 50px;
    margin-top: 10px;
}
* {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 20px;
}
.container_1 {
    display: flex;
    padding: 20px 0;
    border: white 2px none;
    border-radius: 20px;
}
.icone {
    border-radius: 20px 0px 0px 20px;
    background-color: #F2F2F2;
    padding: 10px;
}
.encart {
    border: 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold; 
 
}
.btn {
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    padding: 10px;
}
.btn1 {
    font-size: 20px;
    color: white;
}
.container_2_1 , .container_2{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}
.container_2_10 , .container_2_11 {
    display: flex;
    gap: 15px;
}
.btn2:hover { 
    background-color: #0065FC;
}
.btn2   {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 150px;
    border-color: #DEEBFF;
    border-radius: 50px;
    padding: 10px;
}
.btn2:hover {
    background-color: #0065FC;
    color: white;
}

.btn .fa-magnifying-glass {
    display: none;
}
.texte {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card2{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 230px;
}

.card img, .card2 img, .card3 img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
.card2-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 70px;
}

.card2-title {
    margin-top: 10px;
    font-size: 14px;
}

.card2-subtitle {
    margin: 5px;
}

.card2-rating {
    margin: 5px;
}

.lienplus {
    margin-top: 20px;
}
/*
.card3 {
    width: 100%;
    height: 350px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
} 
    */
 .card3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
 }
 .card3 img {
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }
.card3 h3 {
    font-size: 12px;
    margin: 20px;
}
.card3-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex; 
    flex-direction: column;
    align-items:flex-start;
    width: 65%; 
}

.hebergements-title {  
    padding-left: 25px;
}

.hebergements-cards  {
    display: flex;
    align-items: center;
    margin-top: 33px;

}
.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activité ***********/
#activites {
   /* display: flex;
    flex-direction: column;*/
    margin-top: 40px;
    padding: 30px;
}
.activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.activites-cards a { 
    display: block;
    width: 23%;
    margin-top: 30px;
}
/*
.activites-cards img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
*/
#activites h2 {
    padding-left: 30px;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    margin-top: 100px;  
}
.footer-nav{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.lien-footer-nav {
    padding: 5px;
}
.footer-title {
    font-size: 12px;
    padding-left: 5px;
}
.container_footer {
    display: flex;
    justify-content:center;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card2{
        width: 100%;
        height: 90%;
    }

    .card2-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .card2-subtitle {
        margin-bottom: 2px;
    }

    .card2-rating {
        margin-bottom: 0px;
    }
    
    .card3 img {
        height: 180px;
    }
    
    footer {
        margin-top: 20px;
    }
    body {
        margin: 0px
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: 50px;
    }
    .container_header {
        display: flex;
        flex-direction: column;
    }
    .ancre:hover {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
        border-top: none;
    }
    .btn .fa-magnifying-glass {
        display: block;
        color: white;
    }
    .btn .btn1 {
        display: none;
    }
    .container_2 , .container_2_10 , .container_2_11 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .container_2_1 , .container_2 {
        gap: 0px;
        width: 100%;
    }
    .container_2 h2 {
        margin: 0px;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergements {
        margin-top: 40px;
        max-width: 350px;
    }
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    .hebergements-cards ,.hebergements-cards a {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        height:100%;
        max-width: 300px;
    }
    .populaires{
        max-width: 350px;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    .populaires-cards a {
        width: 100%;
    }
    #activites{
        margin-top: 15px;
    }
    .activites-cards {
        flex-direction: column;
    }
    .activites-cards a {
        width: 100%;
    }
    .container_footer {
        display: flex;
        flex-direction: column;
    }
    
    
}